[Unit]
After=origin-master.service

[Service]
ExecStart=/usr/local/libexec/atomic-openshift-routewatcher.py
KillMode=process

[Install]
WantedBy=multi-user.target
