# bridge to which builder VMs are attached
BRIDGE="virbr0"

# RHN credentials and space-separated subscription pool UUID(s) to which builder
# VMs are attached
RHN_USER=""
RHN_PASS=""
RHN_POOLS=""

# Fedora mirror (required for local caching)
MIRROR_FEDORA="http://www.mirrorservice.org:80/sites/dl.fedoraproject.org"

# enable debugging
# DEBUG="yes"
