config:
  # Fedora mirror (required for local caching)
  mirror_fedora: http://www.mirrorservice.org:80/sites/dl.fedoraproject.org

  # RHN credentials for builder VMs
  rhn_user:
  rhn_pass:

  # optional space-separated subscription pool ID(s) to which builder VMs are
  # attached.  If empty, --auto is used
  rhn_pools:

  # Enable debugging
  # debug: true

build:
  # Bridge to which builder VMs are attached
  bridge: virbr0

  cpus: 4
  mem: 8192

layer:
  cpus: 1
  mem: 1024
  disk: 40
