[Unit]
Before=atomic-openshift-master.service

[Service]
ExecStart=/usr/local/libexec/atomic-openshift-auth.py
KillMode=process

[Install]
WantedBy=multi-user.target
