[Unit]
After=network-online.target
Before=atomic-openshift-master.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/atomic-openshift-master-ipcfg.py

[Install]
WantedBy=multi-user.target
