[Unit]
After=network-online.target
Before=atomic-openshift-master.service

[Service]
ExecStart=/usr/local/libexec/atomic-openshift-dns-intercept.py
KillMode=process

[Install]
WantedBy=multi-user.target
